{% extends "base.html" %}

{% block title %}- Sign Up{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block htmlcontent %}
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{params['username']}}">
          </td>
          <td class="error">
            {{errors['username']}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{errors['password']}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{errors['verify']}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{params['email']}}">
          </td>
          <td class="error">
            {{errors['email']}}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}